PX4_SYSTEM_ADDRESS=udp://:14540
PX4_CONTROL_SYSTEM_ADDRESS=udpin://0.0.0.0:14030
MAVSDK_TELEMETRY_GRPC_PORT=50051
MAVSDK_TELEMETRY_SYSID=245
MAVSDK_TELEMETRY_COMPID=190
MAVSDK_CONTROL_GRPC_PORT=50052
MAVSDK_CONTROL_SYSID=245
MAVSDK_CONTROL_COMPID=191
BACKEND_BASE_URL=http://localhost:8080
DEVICE_CODE=DRONE-01
DRONE_ID=DRONE-01
MISSION_ID=MISSION_001
TELEMETRY_INTERVAL_SECONDS=2
CONTROL_MOVE_SPEED_M_S=5.0
CONTROL_VERTICAL_SPEED_M_S=3.0
CONTROL_YAW_DEG=45.0
GAZEBO_CAMERA_TOPIC=/world/forest_monitoring/model/x500_mono_cam_down_0/link/camera_link/sensor/camera/image
