PX4_SYSTEM_ADDRESS=udp://:14540
PX4_CONTROL_SYSTEM_ADDRESS=udpin://0.0.0.0:14030
BACKEND_BASE_URL=http://localhost:8080
DEVICE_CODE=DRONE-01
TELEMETRY_INTERVAL_SECONDS=2
GAZEBO_PICTURES_DIR=/home/acer/.gz/gui/pictures
