<?xml version="1.0" encoding="UTF-8"?>

<window>
  <width>800</width>
  <height>600</height>
  <style
    material_theme="Light"
    material_primary="DeepOrange"
    material_accent="LightBlue"
  />
</window>

<plugin filename="ImageDisplay" name="Downward Camera">
  <gz-gui>
    <title>Downward Camera</title>
    <property type="bool" key="showTitleBar">true</property>
    <property type="string" key="state">docked</property>
  </gz-gui>
  <topic>/world/forest_monitoring/model/x500_mono_cam_down_0/link/camera_link/sensor/camera/image</topic>
  <topic_picker>false</topic_picker>
</plugin>
